<div class="container pt-5">
  <form action="/" method='POST' class="col-8 mx-auto text-center">
    <input type="url" name="url" id="url" class="w-100 my-5">
    <button class="btn btn-primary">Shorten</button>
  </form>
</div>